@tailwind base;
@tailwind components;
@tailwind utilities;

color {
    color : #00000056
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .scroll::-webkit-scrollbar{
    width: 3px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background: var(--clr-mode); 
    border-radius: 10px;
  }
  
  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--project-points-scroll); 
    border-radius: 10px;
  }